{% extends 'base/base.html' %}
{% load static %}

{% block tittle %} INICIO {% endblock%}
{% block one %}
        <aside id="fh5co-hero">
            <div class="flexslider">
				<ul class="slides">
			   	<li style="background-image: url({% static 'AppLente/images/o2592172814165742008.jpg' %});">
			   		<div class="overlay-gradient"></div>
			   		<div class="container-fluid">
			   			<div class="row">
				   			<div class="col-md-6 col-md-offset-3 col-md-pull-3 slider-text">
				   				<div class="slider-text-inner">
				   					<h1>¿Necesita un turno?</h1>
										<h2>Reserva tu turno en unos simples pasos</h2>
										<p><a class="btn btn-primary btn-demo" href="{% url 'turnos' %}"></i> Sacar turno</a></p>
				   				</div>
				   			</div>
				   		</div>
			   		</div>
			   	</li>
			   	<li style="background-image: url({% static 'AppLente/images/o2592172814165742008.jpg' %});">
			   		<div class="overlay-gradient"></div>
			   		<div class="container-fluid">
			   			<div class="row">
				   			<div class="col-md-6 col-md-offset-3 col-md-pull-3 slider-text">
				   				<div class="slider-text-inner">
				   					<h1>Contactenos Aqui!</h1>
										<h2>Le responderemos en las proximas 24 hs.</h2>
										<p><a class="btn btn-primary btn-demo" href="{% url 'contacto' %}"></i> Contactarme</a></p>
				   				</div>
				   			</div>
				   		</div>
			   		</div>
			   	</li>
				<li style="background-image: url({% static 'AppLente/images/o2592172814165742008.jpg' %});">
			   		<div class="overlay-gradient"></div>
			   		<div class="container-fluid">
			   			<div class="row">
				   			<div class="col-md-6 col-md-offset-3 col-md-pull-3 slider-text">
				   				<div class="slider-text-inner">
				   					<h1>¿Quiere hacer una cotizacion?</h1>
										<h2>dirigase al siguiente boton</h2>
										<p><a class="btn btn-primary btn-demo" href="{% url 'cotizar' %}"></i> Cotizar</a></p>
				   				</div>
				   			</div>
				   		</div>
			   		</div>
			   	</li>
			  	</ul>
		  	</div>
       </aside>
{% endblock %}

{% block two %}
        <div id="fh5co-services">
			<div class="row">
				<div class="col-md-4 text-center animate-box">
					<div class="services">
						<span class="icon">
							<svg style="color:black"xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-eyeglasses" viewBox="0 0 16 16">
								<path d="M4 6a2 2 0 1 1 0 4 2 2 0 0 1 0-4zm2.625.547a3 3 0 0 0-5.584.953H.5a.5.5 0 0 0 0 1h.541A3 3 0 0 0 7 8a1 1 0 0 1 2 0 3 3 0 0 0 5.959.5h.541a.5.5 0 0 0 0-1h-.541a3 3 0 0 0-5.584-.953A1.993 1.993 0 0 0 8 6c-.532 0-1.016.208-1.375.547zM14 8a2 2 0 1 1-4 0 2 2 0 0 1 4 0z"/>
							  </svg>
						</span>
						<div class="desc">
							<h3><a href="#">Importancia de usar lentes</a></h3>
							<p>Cuidar nuestra vista, la córnea, reduce el riesgo de cataratas, y muchas beneficios más.</p>
						</div>
					</div>
				</div>
				<div class="col-md-4 text-center animate-box">
					<div class="services">
						<span class="icon">
							<svg xmlns="http://www.w3.org/2000/svg" style="color:black" width="40" height="40" fill="currentColor" class="bi bi-emoji-smile" viewBox="0 0 16 16">
								<path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
								<path d="M4.285 9.567a.5.5 0 0 1 .683.183A3.498 3.498 0 0 0 8 11.5a3.498 3.498 0 0 0 3.032-1.75.5.5 0 1 1 .866.5A4.498 4.498 0 0 1 8 12.5a4.498 4.498 0 0 1-3.898-2.25.5.5 0 0 1 .183-.683zM7 6.5C7 7.328 6.552 8 6 8s-1-.672-1-1.5S5.448 5 6 5s1 .672 1 1.5zm4 0c0 .828-.448 1.5-1 1.5s-1-.672-1-1.5S9.448 5 10 5s1 .672 1 1.5z"/>
							  </svg>
						</span>
						<div class="desc">
							<h3><a href="#">Anteojo y barbijo</a></h3>
							<p>Ajustá el barbijo lo más posible a tu rostro, Un barbijo holgado permite que el aire exhalado se dirija hacia sus anteojos</p>
						</div>
					</div>
				</div>
				<div class="col-md-4 text-center animate-box">
					<div class="services">
						<span class="icon">
							<svg xmlns="http://www.w3.org/2000/svg" style="color:black" width="40" height="40" fill="currentColor" class="bi bi-stars" viewBox="0 0 16 16">
								<path d="M7.657 6.247c.11-.33.576-.33.686 0l.645 1.937a2.89 2.89 0 0 0 1.829 1.828l1.936.645c.33.11.33.576 0 .686l-1.937.645a2.89 2.89 0 0 0-1.828 1.829l-.645 1.936a.361.361 0 0 1-.686 0l-.645-1.937a2.89 2.89 0 0 0-1.828-1.828l-1.937-.645a.361.361 0 0 1 0-.686l1.937-.645a2.89 2.89 0 0 0 1.828-1.828l.645-1.937zM3.794 1.148a.217.217 0 0 1 .412 0l.387 1.162c.173.518.579.924 1.097 1.097l1.162.387a.217.217 0 0 1 0 .412l-1.162.387A1.734 1.734 0 0 0 4.593 5.69l-.387 1.162a.217.217 0 0 1-.412 0L3.407 5.69A1.734 1.734 0 0 0 2.31 4.593l-1.162-.387a.217.217 0 0 1 0-.412l1.162-.387A1.734 1.734 0 0 0 3.407 2.31l.387-1.162zM10.863.099a.145.145 0 0 1 .274 0l.258.774c.115.346.386.617.732.732l.774.258a.145.145 0 0 1 0 .274l-.774.258a1.156 1.156 0 0 0-.732.732l-.258.774a.145.145 0 0 1-.274 0l-.258-.774a1.156 1.156 0 0 0-.732-.732L9.1 2.137a.145.145 0 0 1 0-.274l.774-.258c.346-.115.617-.386.732-.732L10.863.1z"/>
							  </svg>
						</span>
						<div class="desc">
							<h3><a href="#">Limpieza</a></h3>
							<p>Utilizar el paño de microfibra, Usa Sprays específicos, Paños húmedos y evitar productos abrasivos</p>
						</div>
					</div>
				</div>
			</div>
		</div>
{% endblock %}

{% block pagina %} inicio {% endblock %}
{% block contenido %} En este lugar podras solicitar turnos, enviarnos tu receta de anteojo, hacer reportes y podras contactarnos. {% endblock %}