{% load static %}
<!DOCTYPE HTML>
<html>
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>VidaVisual &mdash;{% block tittle %}  {% endblock %}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Free HTML5 Website Template by freehtml5.co" />
	<meta name="keywords" content="free website templates, free html5, free template, free bootstrap, free website template, html5, css3, mobile first, responsive" />
	<meta name="author" content="freehtml5.co" />

	<!--
	//////////////////////////////////////////////////////

	FREE HTML5 TEMPLATE
	DESIGNED & DEVELOPED by FreeHTML5.co

	Website: 		http://freehtml5.co/
	Email: 			info@freehtml5.co
	Twitter: 		http://twitter.com/fh5co
	Facebook: 		https://www.facebook.com/fh5co

	//////////////////////////////////////////////////////
	 -->

  	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<link href="https://fonts.googleapis.com/css?family=Oxygen:300,400" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700" rel="stylesheet">

	<!-- Animate.css -->
	<link rel="stylesheet" href="{% static 'AppLente/css/animate.css' %}">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="{% static 'AppLente/css/icomoon.css' %}">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="{% static 'AppLente/css/bootstrap.css' %}">

	<!-- Magnific Popup -->
	<link rel="stylesheet" href="{% static 'AppLente/css/magnific-popup.css' %}">

	<!-- Flexslider  -->
	<link rel="stylesheet" href="{% static 'AppLente/css/flexslider.css' %}">

	<!-- Theme style  -->
	<link rel="stylesheet" href="{% static 'AppLente/css/style.css' %}">

	<!-- Modernizr JS -->
	<script src="{% static 'AppLente/js/modernizr-2.6.2.min.js' %}"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="{% static 'AppLente/js/respond.min.js' %}"></script>
	<![endif]-->

	</head>
	<body>

	<div class="fh5co-loader"></div>

	<div id="page">
	<nav class="fh5co-nav" role="navigation">
		<div class="container-wrap">
			<div class="top-menu">
				<div class="row">
					<div class="col-xs-2">
						<div id="fh5co-logo"><a href="{% url 'inicio' %}">VidaVisual</a></div>
					</div>
					<div class="col-xs-10 text-right menu-1">
						<ul>
							<li class="btn btn-primary btn-learn"><a href="{% url 'AppUserLogin' %}">Iniciar Sesion</a></li>
							<li class="btn btn-primary btn-learn"><a href="{% url 'inicio' %}">Registrarse</a></li>
							<li><a href="{% url 'inicio' %}">Inicio</a></li>
							<li><a href="{% url 'turnos' %}">Turnos</a></li>
							<li class="has-dropdown">
								<a href="{% url 'recetas' %}">Recetas</a>
							</li>
							<li><a href="{% url 'cotizar' %}">Cotizar</a></li>
							<li><a href="{% url 'contacto' %}">Contactos</a></li>
						</ul>
					</div>
				</div>

			</div>
		</div>
	</nav>


	{% for message in messages %}
		<p>{{ message }}</p>
	{% endfor %}


	<div class="container-wrap">
		<aside id="fh5co-hero">
			<div class="flexslider">
				<ul class="slides">
			   	<li style="background-image: url({% static 'AppLente/images/o2592172814165742008.jpg' %});">
			   		<div class="overlay-gradient"></div>
			   		<div class="container-fluid">
			   			<div class="row">
				   			<div class="col-md-6 col-md-offset-3 col-md-pull-3 slider-text">
				   				<div class="slider-text-inner">
				   					<h1>¿Desea sacar turno?</h1>
										<h2>Precione cualquiera de los dos <a href="http://Themewagon.com/theme_tag/free/" target="_blank">BOTONES</a></h2>
										<p><a class="btn btn-primary btn-demo" href="#"></i> Sacar turno</a> <a class="btn btn-primary btn-learn">Leer Mas...</a></p>
				   				</div>
				   			</div>
				   		</div>
			   		</div>
			   	</li>
			   	<li style="background-image: url({% static 'AppLente/images/4544402_s-640x360.jpg' %});">
			   		<div class="overlay-gradient"></div>
			   		<div class="container-fluid">
			   			<div class="row">
				   			<div class="col-md-6 col-md-offset-3 col-md-push-3 slider-text">
				   				<div class="slider-text-inner">
				   					<h1>¿Desea enviarnos su receta?</h1>
										<h2>Precione cualquiera de los dos<a href="http://Themewagon.com/theme_tag/free/" target="_blank"> BOTONES</a></h2>
										<p><a class="btn btn-primary btn-demo" href="#"></i> Enviar receta</a> <a class="btn btn-primary btn-learn"> Leer mas...</a></p>
				   				</div>
				   			</div>
				   		</div>
			   		</div>
			   	</li>
			   	<li style="background-image: url({% static 'AppLente/images/asdffre.jpg' %});">
			   		<div class="overlay-gradient"></div>
			   		<div class="container-fluids">
			   			<div class="row">
				   			<div class="col-md-6 col-md-offset-3 slider-text">
				   				<div class="slider-text-inner text-center">
				   					<h1>¿Desea hacer una cotizacion?</h1>
										<h2>Precione cualquiera de los dos <a href="http://Themewagon.com/theme_tag/free/" target="_blank">BOTONES</a></h2>
										<p><a class="btn btn-primary btn-demo" href="#"></i> Hacer Cotizacion</a> <a class="btn btn-primary btn-learn">Leer mas...</a></p>
				   				</div>
				   			</div>
				   		</div>
			   		</div>
			   	</li>
			   	<li style="background-image: url({% static 'AppLente/images/Summer_Beach_Glasdfs.jpg' %});">
			   		<div class="overlay-gradient"></div>
			   		<div class="container-fluid">
			   			<div class="row">
				   			<div class="col-md-6 col-md-offset-3 col-md-push-3 slider-text">
				   				<div class="slider-text-inner">
				   					<h1>¿Desea contactarnos?</h1>
										<h2>Precione cualquiera de los dos <a href="http://Themewagon.com/theme_tag/free/" target="_blank">BOTONES</a></h2>
										<p><a class="btn btn-primary btn-demo" href="#"></i> Contactenos</a> <a class="btn btn-primary btn-learn">Leer mas...</a></p>
				   				</div>
				   			</div>
				   		</div>
			   		</div>
			   	</li>
			  	</ul>
		  	</div>
		</aside>
		<div id="fh5co-services">
			<div class="row">
				<div class="col-md-4 text-center animate-box">
					<div class="services">
						<span class="icon">
							<svg style="color:black"xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-eyeglasses" viewBox="0 0 16 16">
								<path d="M4 6a2 2 0 1 1 0 4 2 2 0 0 1 0-4zm2.625.547a3 3 0 0 0-5.584.953H.5a.5.5 0 0 0 0 1h.541A3 3 0 0 0 7 8a1 1 0 0 1 2 0 3 3 0 0 0 5.959.5h.541a.5.5 0 0 0 0-1h-.541a3 3 0 0 0-5.584-.953A1.993 1.993 0 0 0 8 6c-.532 0-1.016.208-1.375.547zM14 8a2 2 0 1 1-4 0 2 2 0 0 1 4 0z"/>
							  </svg>
						</span>
						<div class="desc">
							<h3><a href="#">Importancia de usar lentes</a></h3>
							<p>Cuidar nuestra vista, la córnea, reduce el riesgo de cataratas, y muchas beneficios más.</p>
						</div>
					</div>
				</div>
				<div class="col-md-4 text-center animate-box">
					<div class="services">
						<span class="icon">
							<svg xmlns="http://www.w3.org/2000/svg" style="color:black" width="40" height="40" fill="currentColor" class="bi bi-emoji-smile" viewBox="0 0 16 16">
								<path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
								<path d="M4.285 9.567a.5.5 0 0 1 .683.183A3.498 3.498 0 0 0 8 11.5a3.498 3.498 0 0 0 3.032-1.75.5.5 0 1 1 .866.5A4.498 4.498 0 0 1 8 12.5a4.498 4.498 0 0 1-3.898-2.25.5.5 0 0 1 .183-.683zM7 6.5C7 7.328 6.552 8 6 8s-1-.672-1-1.5S5.448 5 6 5s1 .672 1 1.5zm4 0c0 .828-.448 1.5-1 1.5s-1-.672-1-1.5S9.448 5 10 5s1 .672 1 1.5z"/>
							  </svg>
						</span>
						<div class="desc">
							<h3><a href="#">Anteojo y barbijo</a></h3>
							<p>Ajustá el barbijo lo más posible a tu rostro, Un barbijo holgado permite que el aire exhalado se dirija hacia sus anteojos</p>
						</div>
					</div>
				</div>
				<div class="col-md-4 text-center animate-box">
					<div class="services">
						<span class="icon">
							<svg xmlns="http://www.w3.org/2000/svg" style="color:black" width="40" height="40" fill="currentColor" class="bi bi-stars" viewBox="0 0 16 16">
								<path d="M7.657 6.247c.11-.33.576-.33.686 0l.645 1.937a2.89 2.89 0 0 0 1.829 1.828l1.936.645c.33.11.33.576 0 .686l-1.937.645a2.89 2.89 0 0 0-1.828 1.829l-.645 1.936a.361.361 0 0 1-.686 0l-.645-1.937a2.89 2.89 0 0 0-1.828-1.828l-1.937-.645a.361.361 0 0 1 0-.686l1.937-.645a2.89 2.89 0 0 0 1.828-1.828l.645-1.937zM3.794 1.148a.217.217 0 0 1 .412 0l.387 1.162c.173.518.579.924 1.097 1.097l1.162.387a.217.217 0 0 1 0 .412l-1.162.387A1.734 1.734 0 0 0 4.593 5.69l-.387 1.162a.217.217 0 0 1-.412 0L3.407 5.69A1.734 1.734 0 0 0 2.31 4.593l-1.162-.387a.217.217 0 0 1 0-.412l1.162-.387A1.734 1.734 0 0 0 3.407 2.31l.387-1.162zM10.863.099a.145.145 0 0 1 .274 0l.258.774c.115.346.386.617.732.732l.774.258a.145.145 0 0 1 0 .274l-.774.258a1.156 1.156 0 0 0-.732.732l-.258.774a.145.145 0 0 1-.274 0l-.258-.774a1.156 1.156 0 0 0-.732-.732L9.1 2.137a.145.145 0 0 1 0-.274l.774-.258c.346-.115.617-.386.732-.732L10.863.1z"/>
							  </svg>
						</span>
						<div class="desc">
							<h3><a href="#">Limpieza</a></h3>
							<p>Utilizar el paño de microfibra, Usa Sprays específicos, Paños húmedos y evitar productos abrasivos</p>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div id="fh5co-work" class="fh5co-light-grey">
			<div class="row animate-box">
				<div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
					<h2>Bienvenido a la pagina de{% block pagina %}  {% endblock %}</h2>
					<p>{% block contenido %}  {% endblock %}</p>
				</div>
			</div>
		</div>

	</div><!-- END container-wrap -->

	<div class="container-wrap">
		<footer id="fh5co-footer" role="contentinfo">
			<div class="row">
				<div class="col-md-3 fh5co-widget">
					<h4>Informacion nuestra</h4>
					<p>Optica VidaVisual – óptica en la ciudad de Buenos Aires. Ofrecemos anteojos recetados y para sol, como así también lentes de contacto descartables.</p>
				</div>
				<div class="col-md-3 col-md-push-1">
					<h4>Contenido</h4>
					<ul class="fh5co-footer-links">
						<li><a href="#">Importancia de usar lentes</a></li>
						<li><a href="#">Anteojo y barbijo</a></li>
						<li><a href="#">Limpieza</a></li>
					</ul>
				</div>

				<div class="col-md-3 col-md-push-1">
					<h4>Links</h4>
					<ul class="fh5co-footer-links">
						<li><a href="#">Inicio</a></li>
						<li><a href="#">Turnos</a></li>
						<li><a href="#">Recetas</a></li>
						<li><a href="#">Cotizar</a></li>
						<li><a href="#">Nosotros</a></li>
					</ul>
				</div>

				<div class="col-md-3">
					<h4>Informacion de contacto</h4>
					<ul class="fh5co-footer-links">
						<li>Buenos aires, calle 123 <br> entre calle 12345</li>
						<li><a href="tel://1234567920">+ 54 4444 5555</a></li>
						<li><a href="mailto:info@yoursite.com">vidavisual@optica.com</a></li>
					</ul>
				</div>

			</div>

			<div class="row copyright">
				<div class="col-md-12 text-center">
					<p>
						<small class="block">VIDAVISUAL - OPTICA</small>
					</p>
					<p>
						<ul class="fh5co-social-icons">
							<li><a href="#"><i class="icon-twitter"></i></a></li>
							<li><a href="#"><i class="icon-facebook"></i></a></li>
							<li><a href="#"><i class="icon-linkedin"></i></a></li>
							<li><a href="#"><i class="icon-dribbble"></i></a></li>
						</ul>
					</p>
				</div>
			</div>
		</footer>
	</div><!-- END container-wrap -->
	</div>

	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="icon-arrow-up2"></i></a>
	</div>

	<!-- jQuery -->
	<script src="{% static 'AppLente/js/jquery.min.js' %}"></script>
	<!-- jQuery Easing -->
	<script src="{% static 'AppLente/js/jquery.easing.1.3.js' %}"></script>
	<!-- Bootstrap -->
	<script src="{% static 'AppLente/js/bootstrap.min.js' %}"></script>
	<!-- Waypoints -->
	<script src="{% static 'AppLente/js/jquery.waypoints.min.js' %}"></script>
	<!-- Flexslider -->
	<script src="{% static 'AppLente/js/jquery.flexslider-min.js' %}"></script>
	<!-- Magnific Popup -->
	<script src="{% static 'AppLente/js/jquery.magnific-popup.min.js' %}"></script>
	<script src="{% static 'AppLente/js/magnific-popup-options.js' %}"></script>
	<!-- Counters -->
	<script src="{% static 'AppLente/js/jquery.countTo.js' %}"></script>
	<!-- Main -->
	<script src="{% static 'AppLente/js/main.js' %}"></script>

	</body>
</html>

