{% load static %}
<!DOCTYPE HTML>
<html>
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>VidaVisual &mdash;{% block tittle %}  {% endblock %}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Free HTML5 Website Template by freehtml5.co" />
	<meta name="keywords" content="free website templates, free html5, free template, free bootstrap, free website template, html5, css3, mobile first, responsive" />
	<meta name="author" content="freehtml5.co" />

	<!--
	//////////////////////////////////////////////////////

	FREE HTML5 TEMPLATE
	DESIGNED & DEVELOPED by FreeHTML5.co

	Website: 		http://freehtml5.co/
	Email: 			info@freehtml5.co
	Twitter: 		http://twitter.com/fh5co
	Facebook: 		https://www.facebook.com/fh5co

	//////////////////////////////////////////////////////
	 -->

  	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<link href="https://fonts.googleapis.com/css?family=Oxygen:300,400" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700" rel="stylesheet">

	<!-- Animate.css -->
	<link rel="stylesheet" href="{% static 'AppLente/css/animate.css' %}">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="{% static 'AppLente/css/icomoon.css' %}">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="{% static 'AppLente/css/bootstrap.css' %}">

	<!-- Magnific Popup -->
	<link rel="stylesheet" href="{% static 'AppLente/css/magnific-popup.css' %}">

	<!-- Flexslider  -->
	<link rel="stylesheet" href="{% static 'AppLente/css/flexslider.css' %}">

	<!-- Theme style  -->
	<link rel="stylesheet" href="{% static 'AppLente/css/style.css' %}">

	<!-- Modernizr JS -->
	<script src="{% static 'AppLente/js/modernizr-2.6.2.min.js' %}"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="{% static 'AppLente/js/respond.min.js' %}"></script>
	<![endif]-->

	</head>
	<body>

	<div class="fh5co-loader"></div>

	<div id="page">
	<nav class="fh5co-nav" role="navigation">
		<div class="container-wrap">
			<div class="top-menu">
				<div class="row">
					<div class="col-xs-2">
						<div id="fh5co-logo"><a href="{% url 'inicio' %}">VidaVisual</a></div>
					</div>
					<div class="col-xs-10 text-right menu-1">
						<ul>
							<li class="btn btn-primary btn-learn"><a href="{% url 'AppUserLogin' %}">Iniciar Sesion</a></li>
							<li class="btn btn-primary btn-learn"><a href="{% url 'inicio' %}">Registrarse</a></li>
							<li><a href="{% url 'inicio' %}">Inicio</a></li>
							<li><a href="{% url 'turnos' %}">Turnos</a></li>
							<li class="has-dropdown">
								<a href="{% url 'recetas' %}">Recetas</a>
							</li>
							<li><a href="{% url 'cotizar' %}">Cotizar</a></li>
							<li><a href="{% url 'contacto' %}">Contactos</a></li>
						</ul>
					</div>
				</div>

			</div>
		</div>
	</nav>


	{% for message in messages %}
		<p>{{ message }}</p>
	{% endfor %}


	<div class="container-wrap">

			{% block one %} {% endblock %}

		{% block two %} {% endblock %}

		<div id="fh5co-work" class="fh5co-light-grey">
			<div class="row animate-box">
				<div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
					<h2>Bienvenido a la pagina de{% block pagina %}  {% endblock %}</h2>
					<p>{% block contenido %}  {% endblock %}</p>
				</div>
			</div>
		</div>

	</div><!-- END container-wrap -->

	<div class="container-wrap">
		<footer id="fh5co-footer" role="contentinfo">
			<div class="row">
				<div class="col-md-3 fh5co-widget">
					<h4>Informacion nuestra</h4>
					<p>Optica VidaVisual – óptica en la ciudad de Buenos Aires. Ofrecemos anteojos recetados y para sol, como así también lentes de contacto descartables.</p>
				</div>
				<div class="col-md-3 col-md-push-1">
					<h4>Contenido</h4>
					<ul class="fh5co-footer-links">
						<li><a href="#">Importancia de usar lentes</a></li>
						<li><a href="#">Anteojo y barbijo</a></li>
						<li><a href="#">Limpieza</a></li>
					</ul>
				</div>

				<div class="col-md-3 col-md-push-1">
					<h4>Links</h4>
					<ul class="fh5co-footer-links">
						<li><a href="#">Inicio</a></li>
						<li><a href="#">Turnos</a></li>
						<li><a href="#">Recetas</a></li>
						<li><a href="#">Cotizar</a></li>
						<li><a href="#">Nosotros</a></li>
					</ul>
				</div>

				<div class="col-md-3">
					<h4>Informacion de contacto</h4>
					<ul class="fh5co-footer-links">
						<li>Buenos aires, calle 123 <br> entre calle 12345</li>
						<li><a href="tel://1234567920">+ 54 4444 5555</a></li>
						<li><a href="mailto:info@yoursite.com">vidavisual@optica.com</a></li>
					</ul>
				</div>

			</div>

			<div class="row copyright">
				<div class="col-md-12 text-center">
					<p>
						<small class="block">VIDAVISUAL - OPTICA</small>
					</p>
					<p>
						<ul class="fh5co-social-icons">
							<li><a href="#"><i class="icon-twitter"></i></a></li>
							<li><a href="#"><i class="icon-facebook"></i></a></li>
							<li><a href="#"><i class="icon-linkedin"></i></a></li>
							<li><a href="#"><i class="icon-dribbble"></i></a></li>
						</ul>
					</p>
				</div>
			</div>
		</footer>
	</div><!-- END container-wrap -->
	</div>

	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="icon-arrow-up2"></i></a>
	</div>

	<!-- jQuery -->
	<script src="{% static 'AppLente/js/jquery.min.js' %}"></script>
	<!-- jQuery Easing -->
	<script src="{% static 'AppLente/js/jquery.easing.1.3.js' %}"></script>
	<!-- Bootstrap -->
	<script src="{% static 'AppLente/js/bootstrap.min.js' %}"></script>
	<!-- Waypoints -->
	<script src="{% static 'AppLente/js/jquery.waypoints.min.js' %}"></script>
	<!-- Flexslider -->
	<script src="{% static 'AppLente/js/jquery.flexslider-min.js' %}"></script>
	<!-- Magnific Popup -->
	<script src="{% static 'AppLente/js/jquery.magnific-popup.min.js' %}"></script>
	<script src="{% static 'AppLente/js/magnific-popup-options.js' %}"></script>
	<!-- Counters -->
	<script src="{% static 'AppLente/js/jquery.countTo.js' %}"></script>
	<!-- Main -->
	<script src="{% static 'AppLente/js/main.js' %}"></script>

	</body>
</html>

