{% extends 'base/base.html' %}
{% block tittle %} CONTACTOS {% endblock %}

{% block pagina %} contacto {% endblock %}
{% block contenido %}

Contactenos, nos pondremos en contacto con usted lo antes posible:

<br>
    <form action="" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Enviar">
    </form>
    {% for contacto in contactos %}
    NOMBRE: {{ contacto.nombre }}, NUMERO {{ contacto.numero }}, CORREO {{ contacto.correo }}, MENSAJE {{ contacto.mensaje }}
    <br>
    {% endfor %}


{% endblock %}

