{% extends 'base/base.html' %}
{% block tittle %} Recetas {% endblock %}

{% block pagina %} Recetas {% endblock %}
{% block contenido %}


<br>
envienos su receta aqui
<br>


    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <br>

        <input type="submit" value="Enviar">
    </form>


<br>
<br>

<div>
    <a href="{% url 'inicio' %}" class="btn btn-primary btn-demo" style="margin: 3px 10px;">Volver al Inicio</a>
</div>


{% endblock %}