{% extends 'base/base.html' %}

{% block tittle %} TURNOS {% endblock%}

{% block pagina %} turnos {% endblock %}


{% block contenido %}

¿Quieres sacar un turno? por favor rellena todos los campos a continuacion.
<br>
<h1>TURNOS:</h1>
<br>
    <form action="" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Registrar  Turno">
    </form>

<br>
<br>
<div>
    <a href="{% url 'inicio' %}" class="btn btn-primary btn-demo" style="margin: 3px 10px;">Volver al Inicio</a>
</div>

{% endblock %}